#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 8em;
    border: 1px solid black; 
    border-color: #20B2AA;
    margin-bottom: 10px;
}

.legend .title {
    text-align: right;
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
    font-size: 10px; font-family; 'Times New Roman', serif;
}
